.box__file {
    display: none;

  }

.no-js .box__button {
    display: block;
}

strong:hover {
    color: #39bfd3;
}

.infographic img {
    margin-top: 5vh;
    max-width: 90%;
}

/* NOTE Will use these classes to anchor later */
.subjectContainer, .styleContainer {
    position: relative;
    width: 600px;
    height: 384px;
    margin: auto;
    /* padding-bottom: 5vh; */
}

.uploadBox {
    position: absolute;
    top: 20%;
    left: 20%;
    width: calc(60% - 40px);
    height: calc(60% - 200px);
    opacity: .7;
}

/* Style upload box */
.uploadBox:nth-of-type(2) {
    position: absolute;
    top: 600px;
    opacity: .7;
    right: 100px;
}