.box__file {
    display: none;
}

.no-js .box__button {
    display: block;
}

strong:hover {
    color: #39bfd3;
}

.infographic img {
    margin-top: 5vh;
    max-width: 90%;
}

.subjectContainer,
.styleContainer {
    position: relative;
    width: 600px;
    height: 384px;
    margin: auto;
    margin-top: 5vh;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: .3s;
}

/* Email */
.email-form {
    /* display: inline-block; */
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    position: relative;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    font-size: 1.25rem;
    background-color: #c8dadf;
    padding: 100px 20px;
    max-width: 680px;
    text-align: center;
    top: 20%;
    width: calc(60% - 40px);
    height: calc(60% - 200px);
    opacity: .7;
    margin: auto;
    margin-top: 5vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: .3s;
}